@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0; font-family:"微软雅黑"}
body,html{-webkit-font-smoothing:antialiased;overflow:hidden;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body,.main,html{display:block;position:static;width:100%;height:100%;float:left;background-color:rgba(29,37,41,1)}
.anim_page_transition{-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out}
.navbar{width:100%;height:80px;background-color:rgba(30,38,41,0.6);position:fixed;z-index:1;box-shadow:none;opacity:1}
.navbar_bar{width:10%;min-width:210px;height:1px;position:fixed;margin-top:25px;margin-left:50px;background-color:rgba(255,255,255,0.2)}
.navbar_name{font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;color:#fff;font-size:20px;font-weight:600;letter-spacing:-1px;position:fixed;margin-top:33px;margin-left:50px;text-decoration:none}
p.navbar_title{font-family:'Open Sans', Helvetica, Arial, sans-serif;color:#e9de89;font-size:12px;font-weight:400;position:fixed;margin-top:40px;margin-left:140px}
.navbar_contact{font-family:'Open Sans', Helvetica, Arial, sans-serif;color:#FFF;font-size:12px;font-weight:600;position:fixed;text-transform:uppercase;right:26px;margin-top:23px;text-decoration:none;border-radius:4px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;background:rgba(235,220,104,0);text-align:center;width:auto;box-shadow:inset 0 0 0 1px rgba(255,255,255,0.2);padding:8px 40px 9px}
.navbar_contact:hover{color:#5f4a1e;background-color:#ebdc68;box-shadow:inset 0 0 0 1px rgba(235,220,104,0)}
ul.navbar_menu{opacity:1;list-style:none;display:inline;position:fixed;right:160px;width:260px;height:80px;background-color:none;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.navbar_menu_item_selected{font-family:'Open Sans', Helvetica, Arial, sans-serif;color:#FFF;font-size:11px;font-weight:400;text-transform:uppercase;margin-top:32px;text-decoration:none;background:rgba(235,220,104,0);text-align:center;width:auto;float:right;margin-left:20px;-webkit-transition:all .6s ease-in-out;-moz-transition:all .6s ease-in-out;-o-transition:all .6s ease-in-out;transition:all .6s ease-in-out}
.navbar_menu_item_selected:hover{cursor:default}
.navbar_menu_item{font-family:'Open Sans', Helvetica, Arial, sans-serif;color:#FFF;font-size:11px;font-weight:400;text-transform:uppercase;margin-top:32px;text-decoration:none;background:rgba(235,220,104,0);text-align:center;width:auto;float:right;margin-left:20px;opacity:0.5;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.navbar_menu_item:hover{opacity:1}
body.viewing-page-2 .navbar_contact:hover{color:#fff;background:#00a3ff;box-shadow:inset 0 0 0 1px rgba(0,0,0,0)}
body.viewing-page-2 p.navbar_title{color:#00a3ff}
body.viewing-page-3 .navbar_contact:hover{color:#fff;background:#006198;box-shadow:inset 0 0 0 1px rgba(0,0,0,0)}
body.viewing-page-3 p.navbar_title{color:#006198}
body.viewing-page-4 .navbar_contact:hover{color:#fff;background:#C5B29A;box-shadow:inset 0 0 0 1px rgba(0,0,0,0)}
body.viewing-page-4 p.navbar_title{color:#C5B29A}
body.viewing-page-5 .navbar{background-color:rgba(48,51,55,1);box-shadow:0 1px 0 rgba(48,51,55,1);opacity:1}
body.viewing-page-5 .navbar_contact{color:rgba(255,255,255,0.6);box-shadow:inset 0 0 0 1px rgba(255,255,255,0.2);background:rgba(255,255,255,0)}
body.viewing-page-5 .navbar_contact:hover{color:#FFF;background:#d7a563;box-shadow:inset 0 0 0 1px #d7a563}
body.viewing-page-5 .navbar_name{color:#fff}
body.viewing-page-5 p.navbar_title{color:#d7a563}
body.viewing-page-5 .navbar_bar{background-color:rgba(255,255,255,0.2)}
body.viewing-page-6 .navbar_contact:hover{color:#fff;background:#f95f5f;box-shadow:inset 0 0 0 1px rgba(0,0,0,0)}
body.viewing-page-6 p.navbar_title{color:#f95f5f}
/*第一屏*/
.main section.page_01{background-color:rgba(30,38,41,1);background:url(../images/bg.jpg) no-repeat;background-size:cover;background-position:center center;overflow:hidden}
.page_01_layer{background-color:rgba(30,38,41,1);background-size:cover;width:100%;height:100%;top:0;left:0;right:0;bottom:0;position:absolute}
.page_01_layer_loaded{background:rgba(23,22,22,0);-moz-transition:all .8s ease-in-out;-o-transition:all .8s ease-in-out;transition:all .8s ease-in-out}
p.page_01_title{font-family:'Titillium Web', Helvetica, Arial, sans-serif;color:#fff;font-size:80px;font-weight:300;text-align:center;padding-top:100px;position:relative;background-color:none;height:120px;display:block}
body.viewing-page-1 .navbar_links_container,body.viewing-page-5 .navbar_links_container,body.viewing-page-1 .light_navbar_links_container,body.viewing-page-2 .light_navbar_links_container,body.viewing-page-3 .light_navbar_links_container,body.viewing-page-4 .light_navbar_links_container,body.viewing-page-6 .light_navbar_links_container{display:none}
.navbar_links_container,.light_navbar_links_container{width:250px;height:30px;top:25px;right:150px;position:fixed;display:block}
ul.navbar_links,ul.light_navbar_links{list-style:none;display:inline}
.navbar_link_twitter:hover,.navbar_link_dribbble:hover,.navbar_link_linkedin:hover,.navbar_link_instagram:hover,.navbar_link_facebook:hover,.light_navbar_link_twitter:hover,.light_navbar_link_dribbble:hover,.light_navbar_link_linkedin:hover,.light_navbar_link_instagram:hover,.light_navbar_link_facebook:hover{opacity:1}
body.viewing-page-2 .navbar,body.viewing-page-6 .navbar{background-color:rgba(255,255,255,1);box-shadow:0 1px 0 #eeeff1;opacity:1}
body.viewing-page-2 .navbar_contact,body.viewing-page-3 .navbar_contact,body.viewing-page-4 .navbar_contact,body.viewing-page-6 .navbar_contact{color:rgba(0,0,0,0.3);box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);background:rgba(255,255,255,0)}
body.viewing-page-2 .navbar_name,body.viewing-page-3 .navbar_name,body.viewing-page-4 .navbar_name,body.viewing-page-6 .navbar_name{color:#39363D}
body.viewing-page-2 .navbar_bar,body.viewing-page-3 .navbar_bar,body.viewing-page-4 .navbar_bar,body.viewing-page-6 .navbar_bar{background-color:rgba(0,0,0,0.1)}
body.viewing-page-2 .scroll_indicator,body.viewing-page-3 .scroll_indicator,body.viewing-page-4 .scroll_indicator,body.viewing-page-5 .scroll_indicator,body.viewing-page-6 .scroll_indicator{background-position-x:300px}
body.viewing-page-2 ul.navbar_menu,body.viewing-page-3 ul.navbar_menu,body.viewing-page-4 ul.navbar_menu,body.viewing-page-5 ul.navbar_menu,body.viewing-page-6 ul.navbar_menu{right:434px}
body.viewing-page-2 .navbar_menu_item_selected,body.viewing-page-2 .navbar_menu_item,body.viewing-page-3 .navbar_menu_item_selected,body.viewing-page-3 .navbar_menu_item,body.viewing-page-4 .navbar_menu_item_selected,body.viewing-page-4 .navbar_menu_item,body.viewing-page-6 .navbar_menu_item_selected,body.viewing-page-6 .navbar_menu_item{color:rgba(0,0,0,0.5)}
body.viewing-page-3 .navbar,body.viewing-page-4 .navbar{background-color:rgba(255,255,255,1);box-shadow:0 1px 0 #fff;opacity:0.95}
body.viewing-page-5 .navbar_menu_item_selected,body.viewing-page-5 .navbar_menu_item{color:rgba(255,255,255,0.7)}

p.page_01_text{font-family:'Open Sans', Helvetica, Arial, sans-serif;color:#A0A0A1;font-size:18px;font-weight:300;text-align:center;width:70%;max-width:550px;padding-top:40px;line-height:30px;margin:auto}
.scroll_indicator{background:url(../images/indicator.png) no-repeat;width:106px;height:64px;position:fixed;background-position-x:0;right:0;bottom:200px;display:block;z-index:10;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;opacity:1;overflow:hidden}
/*第二屏*/
.main section.page_02{background:#fff;overflow:hidden; }
.page_02border{background:url(../images/topborder.png) no-repeat center; margin-top:100px; margin-bottom:40px;}
p.page_02_title{font-family:'Titillium Web', "微软雅黑";color:#929292;font-size:28px;text-align:center;position:relative;padding-top:16px;}
.page_02_container{width:1180px;height:490px;overflow:hidden; margin:auto;}
.page_02_container_left{width:448px; height:484px; float:left; display:block;position:absolute;z-index:0;top:100;left:100;right:1;text-align:center;}
.page_02_container_leftpic{background:url(../images/icon.png) no-repeat bottom right ; width:448px; height:484px; float:left; display:block;}
.left_border{background:none;border-radius:50%; width:440px; height:440px; border:2px solid rgba(124,238,255,0.5);position:absolute;z-index:-1;left:0;right:0;}
.left_border1{background:none;border-radius:50%; width:404px; height:404px; border:3px solid #7deafa; margin:15px;position:absolute;z-index:-1;left:0;right:0;}
.page_02_text{text-align:left; margin:80px 108px;}
.page_02_text ul{list-style:none;}
.page_02_text ul li{ padding-top:10px; color:#7c7d7d;}
.page_02_bottom{ width:600px; height:84px; margin:auto; margin-top:40px;} 
.skill{background:none;border-radius:50%; width:80px; height:80px; border:1px solid #fcf10d; float:left; margin-left:30px;font-size:30px;text-align:center; line-height:80px; color:#979797 }
/*p.page_02_text 翻译为 class="page_02_text"的p元素*/
p.page_02_text{font-family:'Open Sans', Helvetica, Arial, sans-serif;color:#39363D;font-size:14px;font-weight:400;width:60%;text-align:justify;line-height:30px;padding-top:10px;margin:auto}
p.page_02_text a{color:#A7AEB2;text-decoration:none;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
p.page_02_text a:hover{color:#2DB2FF}
ul.page_01_links,ul.page_01_links_false{list-style:none;display:inline}
.page_02_container_right{width:400px; height:400px; float:right;}
.dict_title{ display:block;font-size:38px; color:#979797; }
.dict_title span{font-size:18px;}
.dict { margin:40px 0;clear:both ;text-align:center;font-size:12px;border-radius:50%; width:360px; height:304px; margin-left:10px; } 
.dict a {line-height: normal; height: 38px; display: inline-block; background: #fff; padding: 3px 14px; margin: 10px 5px 0 0; border-radius: 8px; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;font-family: "微软雅黑",  sans-serif;color: #FFF;text-decoration:none;}
.dict a:hover { border-radius: 0; text-shadow: #8892FF 1px 1px 1px }
.dict .pcolor a:nth-child(10n-10) { color:#00ccff;font-size: 200%;}
.dict .pcolor a:nth-child(10n-9) { color:#00ccff;font-size: 200%;}
.dict .pcolor a:nth-child(10n-8) { color:#73a4c0;font-size: 300%;}
.dict .pcolor a:nth-child(10n-7) { color:#00ccff;font-size: 200%;}
.dict .pcolor a:nth-child(10n-6) { color:#00ccff;font-size: 380%;}
.dict .pcolor a:nth-child(10n-5) { color: #a1cce4;font-size: 200%;}
.dict .pcolor a:nth-child(10n-4) { color: #a1cce4;font-size: 200%;}
.dict .pcolor a:nth-child(10n-3) { color: #73a4c0;font-size: 200%;}
.dict .pcolor a:nth-child(10n-2) { color: #339ade;font-size: 360%;}
.dict .pcolor a:nth-child(10n-1) { color: #01BAD8;font-size: 260%;}
.dict .pcolor a:nth-child(10n) { color: #a1cce4;font-size: 200%;}
.dict .pcolor a:first-child { color: #a1cce4;font-size: 180%;}
.dict .pcolor a:last-child { color: #a1cce4;font-size: 160%; }
.page_02_pic_container{display:block;position:absolute;z-index:2;top:0;left:10%;width:120px;height:230px;background-color:none;overflow:hidden}
.page_02_pic{background:url(../images/touxiang.png) no-repeat;width:80px;height:80px;border-radius:1000px;position:absolute;left:0;right:0;text-align:center;top:136px;background-size:contain;z-index:2;display:block;margin:auto}
.page_02_pic_border{background:none;width:90px;height:90px;border:1px solid #eeeff1;border-radius:1000px;position:absolute;left:0;right:0;text-align:center;top:130px;z-index:1;display:block;margin:auto}
.page_02_pic_line{background-color:#eeeff1;height:130px;width:1px;position:absolute;left:0;right:0;text-align:center;top:0;z-index:0;display:block;margin:auto}
/*第三屏*/
.main section.page_03{background:#1d2529;background-size:cover;overflow:hidden}
.group:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.group {display: inline-block;clear: both;}
 * html .group {height: 1%;}
.group {display: block;}
a img {	border:0;}
.clearBoth {clear:both;margin:0;padding:0;}
#buynow {position:absolute;top:0px;right:10px;z-index:1000;}
#downloadsgif {position:absolute;top:3px;left:50%;z-index:1000;margin-left:-75px;}
#page-wrap {width:100%;margin: 0 auto;}
#banner-div-thumbs {height:550px;clear:both;}
#banner-div-rotator {height:500px;clear:both;}
#banner-div-rotator-universal {height:530px;clear:both;}
#banner-div-rotator-attractive {height:540px;clear:both;}
#banner-div-playlist {height:500px;clear:both;}
#banner-div-playlist-elegant {height:530px;clear:both;}
#banner-div-playlist-easy {height:600px;clear:both;}
#banner-div-contentSlider {height:590px;clear:both;}
#banner-div-contentSlider-surprise {height:520px;clear:both;}
#banner-div-contentSlider-imposing {height:600px;clear:both;}
#banner-div-contentSlider-charming {height:480px;clear:both;}
#zzz {xtext-align:left;xpadding:50px 0 0 0;xbackground:#0F3;}
.generalWidth {width:998px;margin: 0 auto;}
/*第四屏*/
.main section.page_04{background:#FFFFFF;overflow:hidden;background-size:cover; position:relative;}
.contact{ width:714px; height:470px; margin:auto; margin-top:80px;}
.Icon{ width:320px; height:600px; float:left;}
.Icon ul{list-style:none;}
.Icon ul li{ width:260px; height:30px; margin-top:20px;}
.Icon ul li img{ margin-left:40px;float:left;}
.Icon ul li span{ display:block; float:left; height:30px; line-height:30px; font-size:18px;  margin-left:22px; color:#aaabab;}
.slgo{ width:320px; height:190px; background:url(../images/slog.jpg) no-repeat right ; float:right;}
/*留言版块*/
/*.contact-form {position:relative;}
.contact-form div {	padding: 5px 0;}
.contact-form span {display: block;font-size: 1em;color: #757575;padding-bottom: 5px;font-family: verdana, arial;}
.contact-form input[type="text"], .contact-form textarea {padding: 8px;display: block;width:98%;background:none;border:1px solid #CACACA;outline: none;color: #464646;font-size:1em;font-weight:bold;font-family: Arial, Helvetica, sans-serif;-webkit-appearance: none;}
.contact-form textarea {resize: none;height: 20px;}
.contact-form input[type="submit"] {font-size:1em;padding:10px 15px;background:#CD1F25;color: #FFF;border:none;text-decoration: none;outline: 0;
cursor:pointer;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;position: absolute;right: 0;}
.contact-form input[type="submit"]:hover {text-shadow: 0px 0px 1px #000;background: #292929;}*/

.footerbg{width:100%; height:80px; background-color:#111111; position:absolute; bottom:0;}
.footer{width:380px;height:80px; margin:auto;}
.guild span{color:#939393;font-size:12px; display:block; margin-top:10px;}
.guild ul{ width:380px; height:44px;list-style:none; font-size:12px; }
.guild ul li{ height:14px; float:left; margin:24px 0 0 10px; border-left:1px solid #FFFFFF; padding-left:20px; padding-right:10px;;}
.guild ul li.noborder{ border:none;}
.guild ul li a{ font-size:14px;color:#E0E0E0; text-decoration:none; margin-top:-4px; display:block;}
.guild ul li a:hover{ color:#fcf10d;}
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
.scroll_indicator{background-position-x:300px}
body.viewing-page-1 .onepage-pagination,body.viewing-page-2 .onepage-pagination,body.viewing-page-3 .onepage-pagination,body.viewing-page-4 .onepage-pagination,body.viewing-page-5 .onepage-pagination,body.viewing-page-6 .onepage-pagination{opacity:0}
.scroll_indicator{background-position-x:300px}
body.viewing-page-1 .onepage-pagination,body.viewing-page-2 .onepage-pagination,body.viewing-page-3 .onepage-pagination,body.viewing-page-4 .onepage-pagination,body.viewing-page-5 .onepage-pagination,body.viewing-page-6 .onepage-pagination{opacity:0}
#page_01_links_container,#page_01_links_container_false{bottom:70px}
#page_01_links_container,#page_01_links_container_false{display:none}
.navbar_links_container,.light_navbar_links_container{display:none}
p.page_01_text{font-size:14px;padding-top:40px;line-height:24px}
p.page_01_title{font-size:40px;padding-top:18px;height:60px}
.main section.page_01{background-position:right}
p.page_02_title{ display:block; width:656px; height:94px;margin:auto;color:#c4cbd0;font-size:22px;padding-top:100px; background:url(../images/topborder.png) center;}
.page_02_container{width:100%;max-width:320px;min-width:0;height:auto;overflow:hidden;position:relative;z-index:1;margin:10px auto auto}
p.page_02_text{font-size:10px;width:80%;text-align:justify;line-height:20px;padding-top:0;margin:auto}
.page_02_paris{opacity:0.3}
.main section.page_03{background-color:#fff; no-repeat;background-size:cover;background-position-x:right;overflow:hidden}
.navbar_contact,#page_01_links_container,#page_01_links_container_false,.page_01_scroll,.page_02_pic,.page_02_pic_container,.page_02_pic_line,.page_02_pic_border,body.viewing-page-2 .onepage-pagination,body.viewing-page-3 .onepage-pagination,p.page_03_text,body.viewing-page-4 .onepage-pagination,p.page_04_text,body.viewing-page-5 .onepage-pagination,body.viewing-page-6 .onepage-pagination{display:none}
}
